# Using hvr's multi-ghc-travis template and ppa. Thanks hvr!!

env:
   - GHCVER=7.10.1
   - GHCVER=8.0.1

before_install:
   - sudo add-apt-repository -y ppa:hvr/ghc
   - sudo apt-get update
   - sudo apt-get install cabal-install-1.24 ghc-$GHCVER alex happy
   - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/1.24/bin:$PATH

install:
  - cabal-1.24 update
  - cabal-1.24 sandbox init
  - cabal-1.24 install --only-dependencies --enable-tests

script:
  - cabal-1.24 configure --enable-tests -v2
  - cabal-1.24 build
  - cabal-1.24 test
